<div >
  <mat-toolbar color="primary" style="display: flex;
    justify-content: space-between;">
    <a [routerLink]="['/']"><span>{{title}}</span></a>

    <div *ngIf="token">
      <a class="m-2" [routerLink]="['/admin/view']"><button  mat-raised-button color="primary">Vue Admin</button></a>

      <a class="m-2" [routerLink]="['/admin/add']"><button mat-raised-button color="accent">Ajouter</button></a>

      <button class="m-2" (click)="logout()" type="submit" mat-raised-button color="secondary">Me déconnecter</button>
    </div>

  </mat-toolbar>
</div>


<router-outlet />
