<div class="m-10">
  <a [routerLink]="['/']" class="btn-retour mt-10"><button mat-raised-button color="primary">Retour</button></a>

</div>

<div *ngIf="isLoading">
  <h2>Chargement en cours</h2>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="!isLoading" class="align-center">



  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>


      <div>
        <h1>{{ voyage?.destination }}<br>
          <button mat-raised-button class="blueColor"
                  matBadgePosition="before" matBadgeColor="accent">
            {{ voyage?.type }}
          </button>
        </h1>


        <h2>{{ voyage?.nbStar }} / 5 étoiles</h2>


      </div>


    </mat-grid-tile>

  </mat-grid-list>
  <ngb-carousel>
    <ng-template *ngFor="let picture of voyage?.pictures" ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="picture.src" alt="{{ picture.alt }}" />
      </div>
      <div class="carousel-caption">
        <p>{{ picture.alt }}</p>
      </div>
    </ng-template>
  </ngb-carousel>

  <div id="map-container-google-2" class="z-depth-1-half map-container" style="width: 100%">
    <h1>La carte de {{ voyage?.destination }}</h1>
    <h3>Lattitude : {{voyage?.lattitude }}</h3>
    <h3>Longitude : {{voyage?.longitude }}</h3>
    <iframe width="90%" height="600" [src]="linkFormated" frameborder="0"></iframe>
  </div>


</div>

